html {
  overflow-y: scroll;
  font-size: 10px;
}
body {
  margin: 0;
  font: 1.6rem/1.5 "Spoqa Han Sans";
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin: 1.5rem;
  border: 3px solid currentColor;
  padding: 1rem;
  color: #20BFBA;
}