//- 환경설정
block config
  //- 현재 페이지 식별자
  - var current   = 'index'
  - var isActive  = 'home'
  //- 페이지 타이틀 <title>
  - var pageTitle = 'Pug, Sass, ES6 & Webpack ProjectKit.'
  //- 주 언어
  - var language  = 'ko-KR'