//- 믹스인: 내비게이션 링크 아이템
mixin navLink(link, active, name)
  li.nav__item
    a.nav__link(
      href=link
      class={ active: current === `${active}` }
    ) !{name}


//- 내비게이션 마크업
//- 페이지가 추가될 경우, navLink 믹스인을 사용하여 추가
ul.nav
  +navLink('/', 'index', 'Home')
  +navLink('about.html', 'about', 'About')