:root {
  --font-color: #20C6BB;
}
body {
  margin: 4rem;
}

.user-input {
  margin-bottom: 1rem;
}
.user-input:focus {
  /* color: #20C6BB; */
  color: var(--font-color);
}
.data-binding {
  /* color: #20C6BB; */
  color: var(--font-color);
}
.count {
  margin-top: 20px;
}

.add-memo {
  margin-bottom: 20px;
}